

#tab-home-content{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
}

.fixed-container{
    display: flex; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    display: flex; 
    z-index: 1000;
}

h1 {
    margin: 20px 20px 2px 0px;
    font-size: 70px;
}

h2{
    margin: 5px;
    font-size: 35px;
}

.photo{
    margin: 10px;
    width: 400px; 
    height: 400px;
}

.icon{
    width: 30px; 
    height: 30px;
    margin-right: 5px;
}

.email{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 25px 0px 25px 25px;
}

.email img{
    width: 20px; 
    height: 20px;
}

.email a{
    font-size: 20px;
}

a {
    text-decoration: none;
}

.skills{
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) { 

    body{
        margin: 2px;
    }

    h1{
        font-size: 150%;
    }

    h2{
        font-size: 100%;
    }

    .email a{
        font-size: 70%;
    }

   #tab-home-content {
        flex-direction: column;
    } 

    .photo{
        margin: 10px;
        width: 60%; 
        height: 60%;
    }

    .email{
        margin: 5px 0px 5px 5px;
    }
    
    .links{
        display: inline-flex;
    }

    .icon{
        width: 40%; 
        height: auto;
    }
  
}