
.tabs input[type="radio"]{
    display: none;
}

.fixed-container label { 
    display: inline-block;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-right: 5px;
    min-width: 15%;
    cursor: pointer;
    text-align: center;
}

.tabs-content{
    padding: 10px; 
}

@media (max-width: 768px) { 
    .tab-link { 
        padding: 8px;
        font-size: 15px;
        min-width: 10%;
    }
}
